/* Estilos generales del contenedor */
.t-wrapper {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

/* Estilos del encabezado */
.t-heading {
    align-self: start;
    text-align: center;
}

.t-heading > * {
    font-size: 2rem;
    font-weight: bold;
}

.t-heading span:nth-of-type(2) {
    color: var(--orange);
}

/* Estilos de las sombras de fondo */
.t-blur1 {
    left: 38rem;
    top: 16rem;
}

.t-blur2 {
    top: 9rem;
    left: 0;
}

/* Estilos de los testimonios */
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 30rem;
    height: auto; /* Ajusta la altura automáticamente */
    background: rgba(255, 255, 255, 0.116);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    overflow: hidden; /* Oculta cualquier desbordamiento */
    text-align: center; /* Centra el texto */
}

.testimonial > img {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    margin-bottom: 2rem; /* Espacio entre la imagen y el texto */
}

.testimonial > span {
    color: var(--gray);
    font-size: 1rem; /* Ajusta el tamaño del texto */
    line-height: 2; /* Mejora la legibilidad */
    word-wrap: break-word; /* Permite el ajuste de palabras largas */
}

/* Estilos del slider */
.t-wrapper .swiper {
    width: 100%;
    height: 70%;
}

.t-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active {
    background: var(--orange);
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .t-wrapper {
        padding: 0 1rem;
    }

    .t-heading > * {
        font-size: 1.5rem;
    }

    .testimonial {
        width: 90%;
        max-width: 25rem;
    }

    .testimonial > img {
        width: 5rem;
        height: 5rem;
    }
}

@media screen and (max-width: 480px) {
    .t-wrapper {
        padding: 0 1rem;
    }

    .t-heading > * {
        font-size: 1.2rem;
    }

    .testimonial {
        width: 90%;
        max-width: 20rem;
    }

    .testimonial > img {
        width: 4rem;
        height: 4rem;
    }

    .testimonial > span {
        font-size: 0.9rem; /* Reduce el tamaño del texto para pantallas pequeñas */
    }
}
